<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.3.8/css/bootstrap.min.css">
</head>
<body>
    <div class="p-3">
        <div class="p-3 d-flex align-items-center gap-2" sec:authorize="hasRole('ADMIN')">
            <a class="btn btn-primary" th:href="@{/admin/newProduct}">New Product</a>

            <form class="d-flex" method="get" th:action="@{/user/index}">
                <input class="form-control me-2" type="text" name="keyword" th:value="${keyword}" placeholder="Search product">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <table class="table">
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th sec:authorize="hasRole('ADMIN')"></th>
                <th sec:authorize="hasRole('ADMIN')"></th>
            </thead>
            <tbody>
                <tr th:each="p:${productList}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.name}"></td>
                    <td th:text="${p.price}"></td>
                    <td th:text="${p.quantity}"></td>
                    <td sec:authorize="hasRole('ADMIN')">
                        <a class="btn btn-danger" th:href="@{/admin/delete(id=${p.id})}">Delete</a>
                    </td><td sec:authorize="hasRole('ADMIN')">
                        <a class="btn btn-primary" th:href="@{/admin/editProduct(id=${p.id})}">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>